/* Container for the description section */
.description-container {
    text-align: left;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 5px;
}
/* Style for the description image */
.description-image {
    width: auto;
    height: 30vh;
    max-width: 100%;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
}
/* Style for the description name text */
.description-name {
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
    padding: 5px;
}

/* Container for the summary with scrolling functionality */
.description-summary-container {
    height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* Style for the summary text */
.description-summary {
    font-size: 14px;
    text-align: justify;
    margin: 0;
}
/* Style for clickable description links */
.description-link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: underline;
    color: #007bff;
}
